/* https://blog.visme.co/website-color-schemes/ #10 color & bold */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: #C3073F;
    margin: 0;
    padding: 0;
    font-size: 10vw;
}
a{
        color: #C3073F;
}

#header{
    background-color: #1a1a1d;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navMenu{
    float:left;
    clear: left;
    width: 28%;
    background-color: #4e4e50;
    margin: 0;
    padding-left: 2%;
    font-size:  5vw;
}
.navMenu nav a{
    padding-top: 15px;
    display: inline-block;
}
#menuBar{
    background-color: lightgreen;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#menuButtons{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
#content{
    float:right;
    clear:right;
    width: 68%;
    background-color: white;
    color: #4e4e50;
    padding-left: 2%;
    font-size:  5vw;
}
#section3{
    background-color: aqua;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
.listbuttons {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #6F2232;
    font-size: 5vw;
}
.buttons {
    float: left;
}

.buttons a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.buttons a:hover {
    background-color: #950740;
}
.active {
    background-color: #C3073F;
}
